@font-face {
    font-family: 'unscii';
    src: url('assets/unscii-16.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'unscii';
    font-size: 12pt;
    color: gainsboro;
}

input
{
    background-color: rgb(20, 20, 20);
    border-style: solid;
    border-width: 1px;
}

li
{
    margin-top: 5px;
}

button
{
    background-color: rgb(20, 20, 20);
}

body
{
    background-color: black;
}